@use '../../utils/styles/colors.module.scss' as colors;
@use '../../utils/styles/variables.module.scss' as variables;

.radio-input {
	margin: 20px;
	background-color: colors.$primary-color;
	color: colors.$white;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	width: 100%;
	height: auto;
	flex-grow: 1;
	justify-content: center;
	padding: 10px;
}

.radio-input input[type='radio'] {
	margin-right: 5px;
	width: 10%;
}

.radio-item {
	display: flex;
	padding: 5%;
}
